.task-name:hover {
  cursor: pointer;
  color: rgb(0, 255, 157);
}

.task-card {
  max-width: 400px;
  background-color: rgba(218, 209, 209, 0.555);
  border-radius: 10px;
  padding: 3vmin;
  height: fit-content;
}

.task-card h2 {
  font-size: 30px;
  margin-top: 3vmin;
}

.task-card button {
  align-self:flex-end;
  margin: 0;
}

.task-card div .edit-btn {
  background-color: rgb(74, 74, 69);
  border-radius: 1px;
  padding: 8px;
}
.task-card div .edit-btn:hover {
  color: white;
}

.task-card:hover {
  background-color: rgba(218, 209, 209, 0.289);
  transition: 1s ease-in-out;
}

.task-card * {
  margin: 2vmin;
}

.task-card div p {
  margin-bottom: 33px;
}