.task-list {
  align-items: center;
}

.task-list span {
  cursor: pointer;
  font-size: 3vmin;
}

.cross-task {
  text-decoration: line-through;
}

.view-application-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.view-application-div * {
  margin: 1vmin;
}