.task-list {
  align-items: center;
}

.task-list span {
  cursor: pointer;
  font-size: 3vmin;
}

.cross-task {
  text-decoration: line-through;
  color: rgb(0, 255, 157);
}

.view-application-div {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0);
}
.view-application-div * {
  margin: 1vmin;
}

.left-div {
  max-width: 700px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.left-div p {
  font-size: 3vmin;
  white-space: pre-wrap;
}

.task-form-div input, .task-form-div select {
  padding: 2vmin;
  color: white;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}