.application-card {
  background-color: rgb(245, 239, 228);
  padding: 3vmin;
  border-radius: 10px;
  min-width: 330px;
}

.application-card a {
  background-color: black;
  padding: 6px;
  color: white;
  border-radius: 30px;
  font-size: 14px;
  text-align: center;
}

.application-card a:hover {
  color: rgb(240, 226, 73);
}

.application-card * {
  margin: 0;
  color: black;
}

.application-card .flex-r {
  align-items: center;
  justify-content: space-between;
}

.app-card-bottom-row {
  display: flex;
  margin-top: 2vmin;
}

.app-card-bottom-row * {
  font-weight: 800;
  padding: 2px;
  margin: 1vmin;
  font-size: 2vmin;
}

.app-card-top-row {
  margin-bottom: 2vmin;
}