.application-card {
  background-color: rgb(245, 239, 228);
  padding: 3vmin;
  border-radius: 10px;
  min-width: 330px;
}

.application-card * {
  margin: 0;
  color: black;
}

.application-card .flex-r {
  align-items: center;
  justify-content: space-between;
}

.app-card-bottom-row {
  display: flex;
}

.app-card-bottom-row * {
  font-weight: 800;
  padding: 2px;
  margin-top: 3vmin;
  font-size: 2vmin;
}