.edit-task-form form {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  box-shadow: none;
}

.edit-task-form form * {
  margin: 1vmin;
}

.edit-task-form form input {
  max-width: 320px;
  padding: 10px;
}