.edit-app-wrap {
  max-width: 1000px;
}

.edit-priority-div {
  width: 200px;
}

.input-company-tag {
  color: rgb(0, 0, 0);
  font-size: 3vmin;
}

.edit-priority-div .radio-div input {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.edit-priority-div .radio-div label,
.edit-app-wrap label {
  font-size: 3vmin;
}

.view-application-div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-application-div form button {
  background-color: rgb(172, 255, 127);
  color: rgb(0, 0, 0);
  font-size: 3vmin;
}

.view-application-div form button:hover {
  background-color: rgb(155, 239, 58);
}

.required-tag {
  background-color: rgb(246, 246, 161);
}