.edit-app-wrap {
  max-width: 1000px;
}

.edit-app-div {
  display: flex;
  flex-direction: row;
}

.edit-app-div-main h2 {
  background-color: rgb(176, 169, 254);
  margin: 0;
  width: 100%;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-bottom: 2vmin;
}

.edit-priority-div {
  width: 200px;
}

.edit-priority-div .radio-div input {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.edit-priority-div .radio-div label,
.edit-app-wrap label {
  font-size: 2vmin;
}

.view-application-div form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-application-div form button {
  background-color: rgb(172, 255, 127);
  color: rgb(0, 0, 0);
  font-size: 2vmin;
}

.view-application-div form button:hover {
  background-color: rgb(155, 239, 58);
}

.required-tag {
  background-color: rgb(246, 246, 161);
}