.contact-form {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.contact-form form {
  width: 500px;
  max-width: 900px;
  align-self: center;
}

.contact-form form label {
  font-size: 3vmin;
}
.contact-form form input {
  font-size: 3vmin;
}

.contact-form form h3 {
  font-size: 5vmin;
}

.img-btn {
  background-color: antiquewhite;
  color: black;
  padding: 2px;
}

.select-contacts-div .multiple-select {
  width: 300px;
}

.img-btn:hover {
  opacity: 0.8;
}

.select-contacts-div {
  margin-top: 3vmin;
}