.contact-form {
  display: flex;
  align-content: center;
  flex-direction: column;
}
.contact-form form {
  width: 500px;
  max-width: 900px;
  align-self: center;
}

.img-btn {
  background-color: antiquewhite;
  color: black;
  padding: 2px;
}

.img-btn:hover {
  opacity: 0.8;
}