.contact-form {
  max-width: 800px;
}

.inner-contact-form {
  padding: 3vmin;
}

.img-btn {
  padding: 10px;
}

.profile-photo-div {
  padding: 1vmin;
}

.profile-photo-div button {
  margin-right: 1vmin;
}

.inner-contact-form input {
  padding: 1vmin;
  width: 80%;
}