.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4vmin;
}

.main-div * {
  font-size: 3vmin;
}

.main-div h1 {
  font-size: 5vmin;
}

.contact-wrapper {
  align-self: center;
  background-color: rgb(54, 62, 84);
  padding: 3vmin;
  border-radius: 10px;
  min-width: 400px;
}

.mutual-contact-grid {
  display: flex;
  flex-direction: column;
}

.mutual-contact {
  display: flex;
  align-items: center;
  max-width: fit-content;
  padding: 1vmin;
  border-radius: 10px;
}

.mutual-contact * {
  margin: 0;
  max-width: fit-content;
}

a:hover {
  color: yellow;
}