.contact-img-canvas {
  width: 120px;
  height: 120px;
  position: relative;
  
}
.contact-img {
  border-radius: 30px;
  padding: 2vmin;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.contact-card {
  background-color: antiquewhite;
  justify-content: space-between;
  border-radius: 9px;
  /* min-height: 200px; */
}

.contact-card * {
  color: black;
  margin: 0;
}

.contact-card-info {
  max-width: 50%;
  padding: 1vmin;
}

.contact-card-info div {
  margin: 2vmin;
}

.contact-card-info * {
  text-align: left;
}

.contact-card-info h3 {
  background-color: black;
  color: white;
  padding: 1vmin;
  border-radius: 23px;
  text-align: center;
}

.contact-card-info h4 {
  font-size: 20px;
  margin: 2vmin 0 2vmin;
}

.contact-card-rightc {
  margin-top: 1vmin;

}

.contact-card-rightc .more-links {
  padding: 0;
  background-color: rgba(245, 245, 220, 0);
  color: rgb(114, 102, 102);
  text-align: center;
  text-decoration: underline;
}

.contact-card-rightc .more-links:hover {
  padding: 0;
  background-color: rgba(245, 245, 220, 0);
  color: rgb(34, 31, 31);
}