.application-form {
  display: flex;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  margin-top: 10vmin;
}

.application-form h2 {
  margin: 0;
  background-color: rgba(47, 61, 213, 0.685);
  width: 100%;
  padding: 2vmin;
  text-align: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.application-form button {
  margin-bottom: 20vmin;
}

.application-form form {
  align-self: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-mutuals-div {
  align-items: flex-end;
  justify-content: center;
}

.multiple-select {
  height: 15vmin;
}

.application-form form label {
  font-size: 2.5vmin;
  align-self: left;
  justify-self: center;
}
.application-form form input,
.application-form form select
 {
  font-size: 3vmin;
  padding: 1vmin;
  width: 490px;
}

.application-form form input {
  width: 290px;
}

.flex-r {
  display: flex;
  flex-direction: row;
}


.radio-div {
  margin: 1vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-contacts-div select {
  width: 100px;
  margin: 4vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-contacts-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.radio-label {
  margin: 4px auto;
}

label {
  margin-top: 2vmin;
}