.application-form {
  /* max-width: 800px; */
  display: flex;
  align-content: center;
  flex-direction: column;
}
.application-form form {
  width: 400px;
  max-width: 800px;
  align-self: center;
}

.flex-r {
  display: flex;
  flex-direction: row;
}
.flex-c {
  display: flex;
  flex-direction: column;
}

.radio-div {
  margin: 2vmin;
}

.select-contacts-div select {
  width: 100%;
  margin-top: 2vmin;
}