@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #eae0d7dc;
  --dark-4: #151518f3;
  --red: #fc2e1f9d;
  --text-light: #968c84;
  --text-dark: #2a2932;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-4);
  padding: 2vmin;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  text-transform: capitalize;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.required-text {
  color: rgb(255, 85, 0);
}

#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

/* grid */
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 400px));
  max-width: 800px;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

.auth-form {
  padding: 5vmin;
  background-color: rgba(73, 117, 211, 0.386);
  border: .1vmin solid var(--tan-3);
  border-radius: 20px;
}

.auth-form label {
  font-size: 3vmin;
}
.auth-form input {
  font-size: 3vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.25vmin;
  color: var(--text-light);
  /* width: 300px; */
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

.heading-emphasis {
  font-size: 5vmin;
}
.secondary-emphasis {
  font-size: 3vmin;
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

.text-input {
  background-color: rgb(25, 24, 24);
  color: white;
  font-size: 3vmin;
}

.textarea-input {
  background-color: #3f3c3b;
  color: white;
  font-size: 2.3vmin;
  font-family: 'Nunito Sans', sans-serif;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  color: var(--white);
  background-color: rgba(174, 150, 150, 0.491);
  font-size: 3vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
  padding: 1vmin;
}

button:hover {
  opacity: 0.7;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

a {
  text-decoration: none;
  color: lightblue;
  margin: 2vmin;
}

.btn-light {
  background-color: white;
  color: black;
}

.btn-light:hover {
  opacity: 0.8;
}

label {
  color: white;
}

.max-300 {
  width: 300px;
}

/* buttons */

.add-btn {
  background-color: rgb(162, 241, 162);
  color: black;
}

.add-btn:hover {
  background-color: #E7E2DD;
}

.wide-delete-btn {
  background-color: rgb(219, 85, 85);
  height: fit-content;
}
.wide-delete-btn:hover {
  background-color: rgb(248, 33, 33);
}

.delete-btn {
  margin: 3vmin 0 1vmin 0;
  width: fit-content;
  text-align: center;
  border-radius: 50px;
  font-size: 13px;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
}

.delete-btn:hover {
  color: rgb(251, 251, 251);
  background-color: rgb(180, 1, 1);
}

.complete-btn {
  background-color: rgb(127, 255, 170);
  color: black;
}

.complete-btn:hover {
  background-color: greenyellow;
}

.edit-btn {
  font-size: 3vmin;
  background-color: rgb(50, 50, 50);
  font-weight: 700;
  color: rgba(234, 234, 134, 0.745);
  padding: 10px 8px;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.857) 1.95px 1.95px 2.6px;
}

.edit-btn:hover {
  background-color: rgb(234, 234, 134);
  color: black;
  cursor: pointer;
}

/* tags */
.tag {
  background-color: rgba(213, 219, 229, 0.88);
  padding: 1vmin;
  border-radius: 8px;;
  font-weight: 800;
  color: black;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 2.5vmin;
}

.important {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(255, 231, 12, 0.834) 0px 30px 60px -30px;
}

.contact-tag {
  background-color: #ccea72;
  width: fit-content;
}

.contact-tag:hover {
  background-color: #eaf523;
}

.url-tag {
  background-color: rgb(147, 196, 240);
}

.url-tag:hover {
  background-color: rgb(118, 183, 235);
}

.date-tag {
  background-color: #e7e2ddd0;
}

.company-tag {
  background-color: yellow;
}

.company-tag:hover {
  background-color: rgba(255, 255, 0, 0.593);
}

.status-complete {
  background-color: rgb(0, 255, 136);
}

.status-ip {
  background-color: rgb(255, 187, 0);
}

/*Image*/
.contact-preview-img {
  width: 100px;
  border-radius: 50px;
}

.contact-preview-img:hover {
  opacity: 0.8;
}

.logo-img {
  width: 100px;
}