.contact-profile-img {
  width: 200px;
  border-radius: 100px;
}

.about-contact-div {
  margin-top: 4vmin;
}

.mutual-link p {
  text-decoration: none;
  color: rgb(31, 31, 31);
  width: fit-content;
  padding: 2vmin;
  border: 1px solid rgb(250, 250, 193);
  border-radius: 30px;
}

.mutual-link p:hover {
  color: rgb(19, 18, 18);
  background-color: rgba(239, 230, 230, 0.763);
}

.bottom-card-row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}